	
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Outside Temperature</p>
                            <p class="card-title">{{this.dataToPrint.temperatureOutside}}°C
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Lights</p>
                            <p class="card-title">{{this.dataToPrint.lights}}kWh
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Frying Temperature</p>
                            <p class="card-title">{{this.dataToPrint.fryingTemperature}}°C
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Gas Consumption</p>
                            <p class="card-title">{{this.dataToPrint.gasConsumption}}kg</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Output Potatoes</h5>
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">Output Potatoes for the month: {{this.months[this.currentMonth]}}
                </div>
                <hr />
                <div class="card-stats">
                    <button (click)="updateChart()">Update Chart</button> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Motor 1</h5>
                <p class="card-category">Power Consumption</p>
            </div>
            <div class="card-body ">
                <!-- <canvas id="chartEmail"></canvas> -->
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <p class="power-consumption">{{this.dataToPrint.powerConsumption?.motor1}}kWh</p>
                </div>
                <hr>
                <div class="stats">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Motor 2</h5>
                <p class="card-category">Power Consumption</p>
            </div>
            <div class="card-body ">
                <!-- <canvas id="chartEmail"></canvas> -->
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <p class="power-consumption">{{this.dataToPrint.powerConsumption?.motor2}}kWh</p>
                </div>
                <hr>
                <div class="stats">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Motor 3</h5>
                <p class="card-category">Power Consumption</p>
            </div>
            <div class="card-body ">
                <!-- <canvas id="chartEmail"></canvas> -->
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <p class="power-consumption">{{this.dataToPrint.powerConsumption?.motor3}}kWh</p>
                </div>
                <hr>
                <div class="stats">
                </div>
            </div>
        </div>
    </div>

</div>